<style>
    .avatar{
        position: absolute;
        top:-50px;
        left: calc(50% - 50px);
        width: 100px;
        border-radius: 50%;
        background: rgba(255, 255 , 255, 0.8);
    }
    .primary-text-color{
        color: white;
    }
    .card{
        box-shadow: 0 15px 25px rgba(0, 0 ,0, 0.5);
        background: rgba(0, 0 ,0, 0.7);
    }
    label {
        color: rgba(255,255,255);
    }
    .card h4{
        text-align: center;
        letter-spacing: 2px;
        margin-bottom: 2rem;
        color: white;
        position: relative;
        top: 50px;
        color: #ff652f;
    }
    .btn-primary{
        display: block;
        margin-left: auto;
        border: none;
        outline:none;
        background:#ff652f;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
    .btn-secondary{
        border: none;
        outline:none;
        letter-spacing: 1px;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }
    .btn-primary:active , .btn-primary:focus{
        color: black !important;
    background-color: white !important;
    border-color: black !important;
    box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 50%) !important;
    }
</style>
<div class="col-md-6 offset-md-3 mt-5">
    
    <div class="card">
        <img class="avatar"src="../../assets/images/avatar.png" alt="">
        <h4 class="card-header">Reset Password</h4>
        <div class="card-body">
            <form [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="emailId">Email</label>
                    <input type="text" formControlName="emailId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" />
                    <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
                        <div *ngIf="f.emailId.errors.required">Email is required</div>
                    </div>
                </div>
                
                <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary btn-login">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Submit
                </button>
                </div>
                <div class="form-group">
                <div class="primary-text-color">Not a member?   
                    
                <button type="button" class="btn btn-secondary btn-signup" [routerLink]="['/signup']" routerLinkActive="active">
                    Sign up
                </button></div>
            </div>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
        </div>
    </div>
</div>